<%- include('partials/header'); -%>

<header>
    <div class="container">
        <h2>Let's start learning</h2>
        <h3>Skills for your present (and your future)</h3>
        <h4>Enroll now to upskill</h4>
        <a href="/coursework" class="btn">Get started</a>
    </div>
    <div class="container-two">
        <h2>Why Lernen?</h2>
        <ul class="cards">
            <li><h3>Easy to use</h3><p>Lernen is structured in such a way that it makes using it quite easy, everyone ranging from kids to adults can use it with ease.</p></li>
            <li><h3>Great course content</h3><p>The course material provided is of great quality.It helps you to propel your career, get a degree, or expand your knowledge at any level.</p></li>
            <li><h3>Enabling transformation</h3><p>Learning on Lernen transforms how you think and what you can do, and translates directly into the real world where you can immediately apply your new capabilities in the context of your job.</p></li>
        </ul>
    </div>
</header>

<footer>
    <h3>Contact</h3>
    <ul class="social">
        <li><a href="https://www.facebook.com/sanket.khambal/" target="blank"><img src= "icons8-facebook-48.png" ></a></li>
        <li><a href="https://www.instagram.com/khambalsanket/" target="blank"><img src ="icons8-instagram-48.png"></a></li>
        <li><a href="https://twitter.com/Sanket29077088" target="blank"><img src ="icons8-twitter-48.png"></a></li>
    </ul>
</footer>
    
</body>
</html>